* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}
code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}


.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 8vw;
  font-weight: bold;
  line-height: 5vw;
  height: 5vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5vw;
}

.squareAvailable {
  background: #86ff6e;
}
.squareUnavailable {
  background: #f86060;
}
.squareWinning {
  background: #41bccc;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
