* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}
.squareAvailable {
  background: #86ff6e;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}
.squareMoving {
  background: #31b118;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}
.squareAdjacentReplace {
  background: #fc975c;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}
.squareAdjacent {
  background: #fff56e;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.squareUnavailable {
  background: #f86060;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
