
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}


ul {
  padding-left: 20px;
}


body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}


.square {
  background: #ffffff;
  border: 1px solid #999;
  float: left;
  font-size: 8vw;
  font-weight: bold;
  line-height: 8vw;
  height: 8vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 8vw;
}

.squareAvailable {
  background: #86ff6e;
}
.squareUnavailable {
  background: #f86060;
}
.squareWinning {
  background: #41bccc;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

@media screen and (max-width: 1000px) {
  
  .square {
    font-size: 15vw;
    line-height: 15vw;
    height: 15vw;
    width: 15vw;
  }
  
  }